DEBUG=1
HOST=localhost
PORT=8000
DATABASE_URL=postgres://postgres:<postgres_pwd>@postgres:5432/postgres
REDIS_URL=redis://redis:6379
SECRET_KEY=<random_string_goes_here>
FIELD_ENCRYPTION_KEY=34GZVVL0b-YGvP2ti-wHz8VtOgzjbh7Jv9xjh4Bc7kg=
FRONTEND_URL=http://localhost:3000
EMAIL_HOST=smtp.example.com
EMAIL_HOST_USER=no-reply@example.com
EMAIL_HOST_PASSWORD=<smtp_password>
DEFAULT_FROM_EMAIL=no-reply@example.com
EMAIL_PORT=587
LOGGING_LEVEL=DEBUG